@import '../../styles/variables';

.GameAbout {
  padding: 20px;

  &-title {
    font-size: 1.75rem;
    padding: 20px 0 50px;
  }

  &-content {
    padding-bottom: 20px;

    span {
      font-style: italic;
      font-weight: 900;
    }
  }

  &-articles {
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
